body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  color: #333333;
}

.center {
    text-align: center;
    padding: 20px;
}

.text-big {
    font-size: 300%;
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
 
  background-size: cover;
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
  text-align:center;
}
.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;

    border-radius: 25px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    color: #4a4a4a;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    background: antiquewhite;
    
}

.comment {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.commenter {
    font-style: italic;
    font-size: 0.8em;
}

#comment_form {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/*navigation horizontal*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}
.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
}
.contact_form{
    margin-left : 10px;
    border-bottom :2px solid #ccc;
    text-align: center;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #0085A1;
  border: 1px solid #0085A1;
  color: white;
}
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 2px;
  padding: 4px;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}