body {
    font-family: sans-serif;
    background-color: pink;
    margin-top: 25px;
    background-image:url("https://wallpaperscraft.com/image/texture_pink_heart_hearts_flowers_72778_1280x720.jpg");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
    .c{
    margin:0 auto;
    color:purple;
    font-family:sans-serif;
    max-width:800px;
    background:white; 
    } 
