body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    background-image:url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQLFn67yRlrxp-II2IVQm0wIpvjhZr76nLaubuAWkzDrwEviqqi");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
    .c{
    margin:0 auto;
    color:purple;
    font-family:sans-serif;
    max-width:800px;
    background:white; 
    } 
